@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Prompt:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: "Dongle";
}

header {
    display: flex;
    justify-content: space-between;
}
/* Questions and answers box and game over screen*/
.box, #gameOver {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: xx-large;
    display: none;
}
/* Questions header */
.questions {
    display: flex;
    align-content: flex-start;
}
/* Answer grid and answer buttons */
.answerGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    width: 35%;
    flex-wrap: wrap;
    padding: 2%;
    margin: 1%;
    font-size: x-large;
}
/* Start button */

#start, #save {
    font-size: x-large;
    text-align: center;
    display: block;
    margin: 20px auto;
    width: 11%;
}
/* Gameover box with high score */
#initials {
    display: block;
    height: 40px;
    width: 100px;
    background-color: whitesmoke;
    margin: auto;
    font-size: 35px;
    text-align: center;
}





